* {
  margin: 0;
  padding: 0;
}
.background {
  background-image: linear-gradient(60deg, black, rgb(90, 89, 89));
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.calculator {
  position: absolute;
  background-color: rgba(27, 27, 27, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
}
.buttons {
  width: 70px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  background-color: rgb(31, 31, 31);
  border: black;
  color: #fff;
}
.buttons:hover {
  background-color: black;
}

#show_op {
  color: white;
  background-color: rgba(17, 17, 17, 0.8);
  width: 300px;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  text-align: left;
  padding: 5px;
  overflow: auto;
}

#show_result {
  color: white;
  width: 300px;
  height: 100px;
  margin: 5px;
  font-size: 25px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

#test {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  padding: 5px;
  background-color: black;
  color: white;
}
